<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заметка {{ object.title }}</title>
</head>
<body>

    <a href="{% url 'notes_list' %}">Список заметок</a>
    <a href="{% url 'notes_edit' object.id %}">Редактировать заметку</a>
    <a href="{% url 'notes_delete' object.id %}">Удалить заметку</a>


    <h1>{{ object.title }}</h1>

    <p>{{ object.text }}</p>

    <p>
        <small>
            Создана {{ object.created_at|date:'d.m.Y H.i'}}.
            Обновлена {{ object.update_at|date:'d.m.Y H.i'}}
        </small>
    </p>
</body>
</html>